<section class="container">
  <h2>Create New Blog</h2>
  <div class="card">

    <form class="new-blog-form">
      <div class="card-header">
        <label for="blog-title">Blog Title</label>
        <input type="text" id="blog-title" name="blog-title" />
      </div>
      <div class="card-body">
        <label for="blog-content">Content</label>
        <div class="form-floating">

          <textarea class="form-control" type="text" id="blog-content" name="blog-content"></textarea>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="submit" class="btn btn-danger m-2">Create Blog</button>

      </div>
    </form>
  </div>
</section>

{{#if blogs.length}}
<section class="container">
  <h2>Your Blog Posts:</h2>
  <div>
    {{#each blogs as |blog|}}
    <div>
      {{> blogpost-info blog}}
      <div class="container">
        <div class="m-2 fs-5 fst-italic">

          <a href="/dashboard/edit/{{blog.id}}" class="edit-link">Edit Blog</a>
        </div>
      </div>

    </div>
    {{/each}}
  </div>
</section>
{{/if}}

<script src="/javascript/add-blog.js"></script>