<section class="container">
  <h2>Create New Blog</h2>

  <form class="new-blog-form">
    <div>
      <label for="blog-title">Blog Title</label>
      <input type="text" id="blog-title" name="blog-title" />
    </div>
    <div>
      <label for="blog-content">Content</label>
      <div class="form-floating">

        <textarea class="form-control" type="text" id="blog-content" name="blog-content"></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-info">Create Blog</button>
  </form>
</section>

{{#if blogs.length}}
<section class="container">
  <h2>Your Blog Posts:</h2>
  <ul>
    {{#each blogs as |blog|}}
    <li>
      {{> blogpost-info blog}}
      <a href="/dashboard/edit/{{blog.id}}" class="edit-link">Edit Blog</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-blog.js"></script>