{{> blogpost-info blog}}

{{#if loggedIn}}
<div class="container">

  <form class="comment-form">
    <div class="m-2">
      <textarea name="comment-body"></textarea>
    </div>

    <div>
      <button class="btn btn-danger btn-sm" type="submit">Add Comment</button>
    </div>
  </form>
</div>
{{/if}}

{{> comments blog.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}